@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-primary text-white antialiased;
  background-color: #000000;
}

body.is-scrolling main {
  filter: blur(3px);
  transition: filter 0.3s ease;
}

body:not(.is-scrolling) main {
  filter: blur(0px);
  transition: filter 0.5s ease;
}

.glass {
  @apply bg-white/5 backdrop-blur-xl border border-white/5;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-orange-400 to-red-600;
}
